@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

* {
    border: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

#parallax, #Mission {
    display: flex;
    width: 100%;
    height: 100vh;

}

section:nth-child(1) {
    background-image: url('nyc.jpg');
    background-size: cover;  
    font-family: 'Merriweather';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 200%;
}

.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
}


section:nth-child(2) {
    align-items: start;
    justify-content: center;
    background-color: black;
    color: white;
    flex-direction: column;
}

.Info {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
}

.Hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.Menu:nth-child(1) {
    transition-delay: 200ms;
}

.Menu:nth-child(2) {
    transition-delay: 400ms;
}

.Menu:nth-child(3) {
    transition-delay: 600ms;
}

.Menu:nth-child(4) {
    transition-delay: 800ms;
}

.Info:nth-child(2) {
    transition-delay: 200ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

section:nth-child(3) {
    height: 100%;
    width: 100% - 2em;
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-image: linear-gradient(to right top, blue, #C8A2C8);
}
.Service {
    background-color: #EDEADE;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}
h1.Sprice {
    font-size: 2.5vw;
}
p.Sprice {
    margin-top: 0;
    font-size: 2vw;
}
span.Sprice {
    font-weight: bold;
    font-size: 1.5vw;
}

section:nth-child(4) {
    display: flex;  
    background-color: black;
    color: white;
    align-content: center;
}

.ConLogo {
    max-width: 10vw;
    max-height: 10vw;  
    padding-right: 2.5vw;
}
p.Confo {
    font-size: 1vw;
}

@media (max-width: 1000px) {
    section:nth-child(1) {
        background-image: url('nyc.jpg');
        background-size: cover;  
        font-family: 'Merriweather';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 200%;
    }

    .Menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }
    .sec {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    #Mission {
        display: grid;
        grid-template-rows: 10vh 90vh;
        grid-template-columns: 100vw;
        justify-content: start;
    }
    .Stitle {
        margin-top: 5%;
    }
    .Info {
        margin-left: 10%;
        margin-right: 10%;
        font-size: clamp(1rem, 1.25rem, 2rem);
    }
    .title {
        text-align: center;
    }
    div {
        display: grid;
    }
    h1.Sprice {
        font-size: clamp(4vw, 4.5vw, 4.6vw);
    }
    p.Sprice {
        margin-top: 0;
        font-size: clamp(3.5vw, 4vw, 4.1vw);
    }
    span.Sprice {
        font-weight: bold;
        font-size: clamp(3vw, 3.25vw, 3.26vw);
    }
    .ConLogo {
        max-width: 20%;
        max-height: 20%;
    }
    p.Confo {
        font-size: 3.7vw;
    }
}